.App {
  text-align: center;
  background: url('../images/creepy-forest.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.forest {
  position: absolute;
  bottom: 5px;
  width: 60%;
}


