.App {
  text-align: center;
  background: url('../images/creepy-forest.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow-x: scroll;
}

.divTitleForest {
  letter-spacing: 4px;
}

.divTitleBasket {
  color: whitesmoke;
  letter-spacing: 4px;
}

.btn {
  position: sticky;
  top: 1rem;
  z-index: 1;
}




