.Mushroom {
  margin: 10px 0;
  .mushroomCard {
      border: 2px solid black;
      height: 450px;
      background-color: black;
      color: whitesmoke;
      .mushroom-image {
          width: 200px;
          height: 200px;
          margin: auto;
      }
  }
}



